
    <tr id="brain_<%= brain.id %>"
    <td>
    </td>
<td>
    <%= brain.flavor %>
</td>
<td>
    <%= brain.iq %>
</td>
<td>  
        <% if brain.fresh %>
        <%= image_tag 'brains/fresh.png', class: 'brains_fresh' %>
        <% else %>
         <%= image_tag 'brains/nofresh.png', class: 'brains_fresh' %>
            <% end %>
    
</td>
</tr>