<%= form_for(zombie) do |f| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="row">
    <div class=" large-6 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="large-6 columns">
     <%= f.label :bio %>
      <%= f.text_area :bio %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns ">
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>

    <div class="large-6 columns ">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns ">
      <%= f.label :rotten %>
      <%= f.check_box :rotten %>
    </div>
    <div class="large-6 columns ">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
     </div>
     <div class="row">
    <div class="large-8 large-centered columns">
        <button type="submit" name="commit" data-disable-with="Create Zombie" class="button success"  value="Create Zombie"> crear zombie</button>
  
    </div>
</div>
    
  </form>
  
<% end %>
