<table class="dashboard-table">
  
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Bio</strong></th>
      <th><strong>Age</strong></th>
      <th><strong>Email</strong></th>
      <th><strong>Rotten</strong></th>
      <th class="medium-2"><strong>Avatar</strong></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
    <tr>
      <div class="flex-container align-justify align-top">
      <td><%= @zombie.name %></td>
      <td><%= @zombie.bio %></td>
      <td><%= @zombie.age %></td>
      <td><%= @zombie.email %></td>
      <td><%= @zombie.rotten %></td>
      <td><%= image_tag(@zombie.avatar) %></td>
      </div>
    </tr>
</table>

<br>
<h1>Cerebros</h1>

<table class="medium-6">
<thead>
      <th><strong>Flavor</strong></th>
      <th><strong>Fresh</strong></th>
      <th><strong>IQ</strong></th>
</thead>
<tbody class="brains">
 <td><%= render :partial => @zombie.brains %></td>
 </tbody>
 </table>

<%= form_for([@zombie, Brain.new], remote: true) do |f| %>
 
<div class="field">
<%= f.label :flavor %>
<%= f.text_field :flavor %>     
</div>

<div class="field">
<%= f.label :iq %>
<%= f.number_field :iq %>     
</div>

<div class="field">
<%= f.label :fresh %>
<%= f.check_box :fresh %>     
</div>

<div class="actions">
    <%= f.submit "Add brain", :class => 'button success' %>
</div>
<% end %>

<button type="button" class="button warning"><%= link_to 'Edit', edit_zombie_path(@zombie) %></button> |
<button type="button" class="button secondary"><%= link_to 'Back', zombies_path %></button>